.container {
  width: 400px;
  max-width: calc(95vw - 8rem);
  box-shadow: 0px 0rem 2rem 0.1rem rgba(0, 0, 0, 0.2);
}

.container > .top {
  padding: 2rem;
}

.container > .top > h6 {
  font-size: 3rem;
  color: rgb(6, 6, 45);
  white-space: nowrap;
  font-weight: 300;
  line-height: 2.4rem;
}

.container > .top > span {
  font-size: 4rem;
  color: #f1d379;
  white-space: nowrap;
  font-weight: 300;
  line-height: 4rem;
}
